

/* Background */
body {
  background-color: #f8f3ee;
  background-image: url('https://cdn.pixabay.com/photo/2020/05/04/15/45/mosque-5129660_960_720.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
/* Navbar */
nav {
  background-color: #f6d2bd;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: right;
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
  text-transform: uppercase;
}
li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #f9a37b;
}
/* Dropdown menu */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9a37b;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-menu a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: right;
}
.dropdown-menu a:hover {
  background-color: #f6d2bd;
}
/* Typing effect */
#typing-container {
  position: relative;
  text-align: center;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 24px;
  color: #fff;
  background-color: #8d3f3f;
  background-image: url('https://cdn.pixabay.com/photo/2020/05/04/15/45/mosque-5129660_960_720.png');
  background-repeat: repeat-y;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#typing-text {
  margin: 0;
  position: relative;
}
/* Course links */
h1 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  text-transform: uppercase;
  color: #8d3f3f;
  text-shadow: 2px 2px #f6d2bd;
}
table {
  border-collapse: collapse;
  margin: 0 auto;
  font-size: 18px;
}
th, td {
  text-align: center;
  padding: 10px;
}
th {
  background-color: #f9a37b;
  color: #fff;
  text-transform: uppercase;
}
td {
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5); /* adds a shadow effect */
    
}
.course-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.course-buttons button {
  background-color: #f9a37b;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin: 10px;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.course-buttons button:hover {
  background-color: #56322100;
}
a {
  text-decoration: none;
  color: #f8f3ee;
}
.sbu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.sbu button {
  display: block;
  height: 40px;
  width: 150px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s;
}

.sbu button:before {
  content: "\f1da";
  font-family: "FontAwesome";
  padding-right: 5px;
  font-size: 20px;
}

.sbu.playing button:before {
  content: "\f28b";
}

.sbu button:hover {
  color: #F5B041;
}

@media only screen and (max-width: 768px) {
  .sbu button {
    height: 30px;
    width: 120px;
    font-size: 14px;
  }
  
  .sbu button:before {
    font-size: 16px;
    padding-right: 3px;
  }
}
